covalent==0.232
covalent-ec2-plugin @ git+https://github.com/satyaog/covalent-ec2-plugin.git@feature/milabench
covalent-azure-plugin @ git+https://github.com/satyaog/covalent-azure-plugin.git@feature/milabench
covalent-slurm-plugin
