__pycache__/
.cache
.coverage
.coverage.*
.pytest_cache
*.egg-info
prof/
dist/
.benchmarks/
.DS_Store
.envrc
docs/_build
_dev_*
venv/
runs/

sqlite.db
*.html
.pin-constraints-*
.mongo/
.pin/tmp-*

.no_report
trash/
workspace/
slurm-*
scripts/inventory.yaml
out.txt

scripts/article/hpu/
scripts/article/cuda/
scripts/article/xpu/

dependencies/
benchmarks/gflownet/gflownet
