[submodule "benchmarks/mlperf/apex"]
	path = benchmarks/mlperf/apex
	url = https://github.com/NVIDIA/apex.git

[submodule "benchmarks/mlperf/training_results_v2.1"]
	path = benchmarks/mlperf/training_results_v2.1
	url = https://github.com/mlcommons/training_results_v2.1.git
