bert-fp16:
  arg: --batch-size
  model:
    1: 4108.75 MiB
    2: 475.0 MiB
    4: 1840.375 MiB
    8: 8614.75 MiB
    16: 475.0 MiB
    32: 24604.75 MiB
    40: 34157.9375 MiB
    64: 47212.375 MiB
    80: 57619.9375 MiB
    96: 69812.375 MiB
    112: 81140.75 MiB
  optimized: 128
bert-fp32:
  arg: --batch-size
  model:
    1: 4206.75 MiB
    2: 475.0 MiB
    4: 6652.375 MiB
    8: 10240.75 MiB
    16: 475.0 MiB
    24: 28007.9375 MiB
    32: 31568.75 MiB
    64: 61196.375 MiB
    80: 76034.75 MiB
  optimized: 128
bert-tf32:
  arg: --batch-size
  model:
    1: 4204.75 MiB
    2: 475.0 MiB
    4: 6654.375 MiB
    8: 10242.75 MiB
    16: 475.0 MiB
    24: 28009.9375 MiB
    32: 31570.75 MiB
    64: 61198.375 MiB
    80: 76036.75 MiB
  optimized: 128
bert-tf32-fp16:
  arg: --batch-size
  model:
    1: 4108.75 MiB
    2: 475.0 MiB
    4: 1840.375 MiB
    8: 8614.75 MiB
    16: 475.0 MiB
    32: 24604.75 MiB
    40: 34157.9375 MiB
    64: 47212.375 MiB
    80: 57619.9375 MiB
    96: 69812.375 MiB
    112: 81140.75 MiB
  optimized: 128
bf16: {}
# brax:
#   arg: --batch-size
#   model:
#     1024: 4912.25 MiB
# cleanrljax:
#   arg: --num_steps
#   optimized: 128
convnext_large-fp16:
  arg: --batch-size
  model:
    1: 3228.75 MiB
    2: 3844.375 MiB
    8: 4726.75 MiB
    16: 6254.75 MiB
    32: 9418.75 MiB
    40: 10940.75 MiB
    64: 15238.75 MiB
    128: 27466.75 MiB
    144: 34449.9375 MiB
    256: 51768.375 MiB
    288: 57966.375 MiB
    304: 65001.9375 MiB
    384: 76248.375 MiB
    416: 80628.75 MiB
  optimized: 128
convnext_large-fp32:
  arg: --batch-size
  model:
    1: 3268.75 MiB
    2: 3480.375 MiB
    4: 2060.75 MiB
    8: 5824.75 MiB
    16: 8774.75 MiB
    32: 14548.75 MiB
    64: 26274.75 MiB
    72: 31731.9375 MiB
    128: 47312.375 MiB
    160: 58608.375 MiB
    192: 70002.375 MiB
    216: 80694.75 MiB
  optimized: 128
convnext_large-tf32:
  arg: --batch-size
  model:
    1: 3268.75 MiB
    2: 3480.375 MiB
    8: 5824.75 MiB
    16: 1768.75 MiB
    32: 14548.75 MiB
    64: 26274.75 MiB
    72: 33081.9375 MiB
    128: 49678.375 MiB
    160: 61560.375 MiB
    192: 73548.375 MiB
    216: 80694.75 MiB
  optimized: 128
convnext_large-tf32-fp16:
  arg: --batch-size
  model:
    1: 3228.75 MiB
    2: 3844.375 MiB
    8: 4726.75 MiB
    16: 6254.75 MiB
    32: 9418.75 MiB
    40: 10940.75 MiB
    64: 15238.75 MiB
    128: 27466.75 MiB
    144: 34449.9375 MiB
    256: 51768.375 MiB
    288: 57966.375 MiB
    304: 61102.375 MiB
    384: 76248.375 MiB
    416: 80628.75 MiB
  optimized: 128
davit_large:
  arg: --batch-size
  model:
    1: 4882.75 MiB
    8: 6330.75 MiB
    16: 8216.75 MiB
    24: 10182.75 MiB
    32: 12240.75 MiB
    40: 16213.9375 MiB
    64: 19422.75 MiB
    96: 23732.375 MiB
    104: 29025.9375 MiB
    128: 34492.75 MiB
    224: 50258.375 MiB
    240: 57341.9375 MiB
    256: 56762.375 MiB
    288: 63488.375 MiB
    328: 81502.75 MiB
  optimized: 128
davit_large-multi:
  arg: --batch-size
  model:
    1: 4862.75 MiB
    8: 6330.75 MiB
    16: 8216.75 MiB
    24: 10730.75 MiB
    32: 12240.75 MiB
    40: 18087.9375 MiB
    64: 19422.75 MiB
    96: 25380.375 MiB
    104: 31099.9375 MiB
    128: 34248.75 MiB
    224: 52542.375 MiB
    240: 59663.9375 MiB
    256: 59080.375 MiB
    288: 65910.375 MiB
    328: 81742.75 MiB
  optimized: 128
diffusion-gpus:
  arg: --batch_size
  model:
    1: 23082 MiB
    2: 21818.75 MiB
    4: 23478.75 MiB
    8: 26500.75 MiB
    16: 36436.75 MiB
    32: 57808 MiB
    48: 80698 MiB
  optimized: 32
diffusion-nodes:
  arg: --batch_size
  model:
    1: 21686.75 MiB
    2: 21930.75 MiB
    4: 23510.75 MiB
    16: 40054.25 MiB
    32: 61512.25 MiB
diffusion-single:
  arg: --batch_size
  model:
    1: 21654.75 MiB
    2: 21818.75 MiB
    4: 23478.75 MiB
    16: 33850.25 MiB
    32: 55354.25 MiB
pna:
  arg: --batch-size

dimenet:
  arg: --batch-size
  model:
    2: 452.6875 MiB
    4: 1604.25 MiB
    64: 12274.25 MiB
    128: 13002.25 MiB
dinov2-giant-gpus:
  arg: train.batch_size_per_gpu={batch_size}
  model:
    1: 32240.25 MiB
    2: 32252.25 MiB
    4: 32404.25 MiB
    16: 38350.25 MiB
    32: 69614 MiB
  optimized: 32
dinov2-giant-nodes:
  arg: train.batch_size_per_gpu={batch_size}
dinov2-giant-single:
  arg: train.batch_size_per_gpu={batch_size}
  model:
    1: 20682.25 MiB
    2: 20682.25 MiB
    4: 20682.25 MiB
    16: 52748.25 MiB
    32: 74544.25 MiB
dlrm: {}
# dqn:
#   arg: --buffer_batch_size
#   model:
#     1024: 81.81005859375 MiB
#     2048: 83.40380859375 MiB
#     32768: 131.21630859375 MiB
#     65536: 182.21630859375 MiB
#   optimized: 128
focalnet:
  arg: --batch-size
  model:
    1: 3128.75 MiB
    4: 3320.375 MiB
    8: 4368.75 MiB
    16: 5608.75 MiB
    24: 10291.9375 MiB
    32: 8566.75 MiB
    40: 9850.75 MiB
    64: 14750.75 MiB
    128: 26398.75 MiB
    144: 29995.9375 MiB
    256: 44272.375 MiB
    288: 49730.375 MiB
    312: 56993.9375 MiB
    384: 66894.375 MiB
    424: 81368.75 MiB
  optimized: 128
fp16: {}
fp32: {}
lightning:
  arg: --batch-size
  model:
    1: 1054.25 MiB
    2: 1054.25 MiB
    4: 1856.25 MiB
    16: 4728.25 MiB
    32: 6352.25 MiB
    64: 1856.25 MiB
    128: 14818.25 MiB
lightning-gpus:
  arg: --batch-size
  model:
    1: 4542 MiB
    2: 1158.75 MiB
    4: 1156.75 MiB
    8: 1260.75 MiB
    16: 4150.75 MiB
    128: 15858 MiB
  optimized: 16
llama: {}
llava-gpus:
  arg: --batch_size
  optimized: 1
llava-single:
  arg: --batch_size
  model:
    2: 15168.25 MiB
    4: 72362.25 MiB
  optimized: 1
llm-full-mp-gpus:
  arg: batch_size={batch_size}
  model:
    1: 48964.25 MiB
    2: 49214.25 MiB
    4: 51310.25 MiB
    16: 81536.25 MiB
llm-full-mp-nodes:
  arg: batch_size={batch_size}
  model:
    1: 37340.25 MiB
    2: 38112.25 MiB
    4: 39110.25 MiB
    16: 80638.25 MiB
llm-lora-ddp-gpus:
  arg: batch_size={batch_size}
  model:
    1: 12418.75 MiB
    2: 19026.25 MiB
    4: 25464.25 MiB
    16: 55834.25 MiB
    32: 80268.25 MiB
llm-lora-ddp-nodes:
  arg: batch_size={batch_size}
  model:
    2: 17202.25 MiB
    4: 23956.25 MiB
    16: 59730.25 MiB
    32: 68932.25 MiB
llm-lora-mp-gpus:
  arg: batch_size={batch_size}
  model:
    2: 38166.25 MiB
    4: 43464.25 MiB
    16: 77116.25 MiB
llm-lora-single:
  arg: batch_size={batch_size}
  model:
    1: 23196.75 MiB
    2: 27694.75 MiB
    16: 45076.75 MiB
opt-1_3b:
  arg: --per_gpu_batch_size
  model:
    1: 38102.375 MiB
  optimized: 1
opt-1_3b-multinode:
  arg: --per_gpu_batch_size
  model:
    1: 42126 MiB
  optimized: 1
opt-6_7b:
  arg: --per_gpu_batch_size
opt-6_7b-multinode:
  arg: --per_gpu_batch_size
  model:
    1: 55380 MiB
  optimized: 1
# ppo:
#   arg: --num_steps
#   model:
#     8: 80.791748046875 MiB
#     16: 80.916748046875 MiB
#     32: 81.166748046875 MiB
#     64: 81.666748046875 MiB
#     128: 82.666748046875 MiB
#     1024: 96.666748046875 MiB
#     2048: 132.484619140625 MiB
#     4096: 205.328369140625 MiB
#   optimized: 32
recursiongfn:
  arg: --batch_size
  model:
    2: 1134.75 MiB
    4: 1140.75 MiB
    16: 1830.25 MiB
    32: 1342.25 MiB
    64: 4410.25 MiB
    128: 9160.25 MiB
reformer:
  arg: --batch-size
  model:
    1: 1916.75 MiB
    4: 3004.375 MiB
    8: 4512.75 MiB
    16: 7082.75 MiB
    24: 10470.75 MiB
    32: 13454.75 MiB
    64: 25408.75 MiB
    72: 32287.9375 MiB
    128: 49276.375 MiB
    160: 61212.375 MiB
    192: 73148.375 MiB
    208: 79120.75 MiB
  optimized: 128
regnet_y_128gf:
  arg: --batch-size
  model:
    1: 6876.75 MiB
    2: 475.0 MiB
    4: 9062.375 MiB
    8: 8524.75 MiB
    16: 1234.75 MiB
    24: 18523.9375 MiB
    32: 18324.75 MiB
    56: 31165.9375 MiB
    64: 31558.75 MiB
    128: 54094.375 MiB
    136: 61245.9375 MiB
    160: 64990.375 MiB
    184: 78714.75 MiB
  optimized: 128
resnet152:
  arg: --batch-size
  model:
    1: 2710.75 MiB
    8: 3298.75 MiB
    16: 4164.75 MiB
    32: 6202.75 MiB
    40: 9819.9375 MiB
    64: 10120.75 MiB
    72: 10860.75 MiB
    96: 11546.375 MiB
    104: 16105.9375 MiB
    128: 18076.75 MiB
    224: 24584.375 MiB
    256: 27310.375 MiB
    448: 46894.375 MiB
    472: 52891.9375 MiB
    512: 52622.375 MiB
    576: 58588.375 MiB
    640: 81354.75 MiB
  optimized: 128
resnet152-ddp:
  arg: --batch-size
resnet152-ddp-gpus:
  arg: --batch-size
  model:
    1: 2084.75 MiB
    2: 2122.75 MiB
    4: 2260.75 MiB
resnet152-multi:
  arg: --batch-size
  model:
    1: 2600.75 MiB
    8: 3374.75 MiB
    16: 4148.75 MiB
    32: 6374.75 MiB
    40: 11181.9375 MiB
    64: 10338.75 MiB
    72: 10582.75 MiB
    96: 13170.375 MiB
    104: 17773.9375 MiB
    128: 18104.75 MiB
    224: 27566.375 MiB
    256: 29176.375 MiB
    448: 50024.375 MiB
    472: 56233.9375 MiB
    512: 55924.375 MiB
    576: 62102.375 MiB
    640: 81820.75 MiB
  optimized: 128
resnet50:
  arg: --batch-size
  model:
    1: 1962.75 MiB
    8: 2134.75 MiB
    16: 2460.75 MiB
    32: 3206.75 MiB
    40: 7439.9375 MiB
    64: 4734.75 MiB
    96: 6478.375 MiB
    112: 11103.9375 MiB
    128: 8242.75 MiB
    184: 11072.75 MiB
    256: 14854.75 MiB
    264: 19031.9375 MiB
    512: 27900.75 MiB
    544: 29358.375 MiB
    560: 34017.9375 MiB
    1024: 53806.375 MiB
    1152: 60310.375 MiB
    1440: 74694.375 MiB
    1552: 81146.75 MiB
    1560: 81590.75 MiB
  optimized: 64
resnet50-noio:
  arg: --batch-size
  model:
    1: 1594.25 MiB
    2: 1652.25 MiB
    4: 1854.25 MiB
    16: 3052.25 MiB
    32: 4690.25 MiB
rlhf-gpus:
  arg: --per_device_train_batch_size
  model:
    1: 13448.25 MiB
    2: 13594.25 MiB
    4: 13686.25 MiB
    16: 14606.25 MiB
    32: 17918.25 MiB
    64: 24374.25 MiB
    128: 25830.25 MiB
  optimized: 64
rlhf-single:
  arg: --per_device_train_batch_size
  model:
    1: 8590.25 MiB
    2: 8650.25 MiB
    4: 8822.25 MiB
    16: 9694.25 MiB
    32: 12952.25 MiB
    64: 19422.25 MiB
    128: 32442.25 MiB
  optimized: 64
rwkv:
  arg: --micro_bsz
  model:
    1: 3602.75 MiB
    8: 4530.75 MiB
    16: 5594.75 MiB
    64: 11452.75 MiB
    128: 19448.75 MiB
    632: 81880.75 MiB
  optimized: 16
stargan:
  arg: --batch_size
  model:
    1: 37896.75 MiB
    8: 19165.75 MiB
    16: 62478.375 MiB
    32: 73824.75 MiB
  optimized: 16
super-slomo:
  arg: --train_batch_size
  model:
    1: 3016.75 MiB
    2: 3506.75 MiB
    4: 5884.375 MiB
    8: 10288.75 MiB
    16: 16914.75 MiB
    24: 29777.9375 MiB
    32: 33934.375 MiB
    56: 61837.9375 MiB
    64: 66072.375 MiB
    80: 81180.75 MiB
  optimized: 32
t5:
  arg: --batch-size
  model:
    1: 4396.75 MiB
    2: 6384.375 MiB
    4: 10620.375 MiB
    8: 18684.75 MiB
    16: 33990.75 MiB
    24: 54479.9375 MiB
    32: 66760.375 MiB
  optimized: 128
tf32: {}
torchatari:
  arg: --num-steps
  model:
    1: 1124.75 MiB
    1024: 20176.25 MiB
    2048: 39020.25 MiB
    4096: 76708.25 MiB
vjepa-gpus:
  arg: --batch_size
  model:
    2: 28896.25 MiB
    4: 30784.25 MiB
    16: 52722.25 MiB
    32: 76372.25 MiB
  optimized: 24
vjepa-single:
  arg: --batch_size
  model:
    1: 6644.25 MiB
    2: 18984.25 MiB
    4: 11860.25 MiB
    16: 45516.25 MiB
    32: 70586.25 MiB
  optimized: 24
whisper:
  arg: --batch-size
  model:
    1: 2070.75 MiB
    4: 3828.375 MiB
    8: 6108.75 MiB
    16: 10540.75 MiB
    24: 18887.9375 MiB
    32: 19282.75 MiB
    48: 31841.9375 MiB
    64: 36728.75 MiB
    96: 54086.375 MiB
    104: 62409.9375 MiB
    128: 71634.375 MiB
    144: 80412.75 MiB
  optimized: 128
