defaults: &defaults
  dirs:
    code: code/{name}
    venv: venv/{name}
    data: data
    runs: runs

  venv:
    type: virtualenv

  voir:
    --forward:
      - "#stdout"
      - "#stderr"
      - "#end"
      - loss
      - compute_rate
      - train_rate
      - loading_rate
      - gpudata
      - gpu_time
      - cpu_dispatch_time
      - cpu_walltime
      - tflops
    # --loading-rate: true
    --poll-gpu: 10


torchvision: &torchvision
  <<<: *defaults

  group: torchvision
  install_group: torchvision

  dirs:
    code: code/torchvision
    venv: venv/torchvision

  plan:
    method: per_gpu

  voir:
    --stop: 120
    --metric: step
    --metric-interval: 1s
    --metric-skip: 10s

  argv:
    --with-amp: true
    --lr: 0.01

  definition: ../benchmarks/torchvision


torchbench: &torchbench
  <<<: *defaults

  group: torchbench

  dirs:
    code: code/torchbench
    venv: venv/torchbench

  plan:
    method: per_gpu

  definition: ../benchmarks/torchbench

  pip:
    constraints:
      - gym < 0.26.0

  voir:
    --stop: 120
    --metric: step
    --metric-interval: 1s
    --metric-skip: 10s

  argv:
    -d: cuda
    -m: eager
    -t: train


lightning: &lightning
  <<<: *defaults

  group: lightning
  install_group: lightning

  dirs:
    code: code/lightning
    venv: venv/lightning

  plan:
    method: njobs
    n: 1

  voir:
    --metric: wrap
    --metric-interval: 1
    --metric-skip: 1

  definition: ../benchmarks/pytorch-lightning

  argv:
    --gpus: -1
    --max_epochs: 1
    --max_steps: 100
    --limit_val_batches: 100
    --devices: -1
    --enable_progress_bar: "False"
    --accelerator: "auto"
    --enable_checkpointing: "False"


sb3: &sb3
    <<<: *defaults

    group: sb3
    install_group: sb3

    dirs:
      code: code/sb3
      venv: venv/sb3

    definition: ../benchmarks/stable_baselines3

    tags:
      - rl
    
    plan:
      method: per_gpu

    voir:
      --stop: 20
      --metric: wrap
      --metric-interval: 100
      --metric-skip: 100


benchmarks:
  resnet50:
    <<<: *torchvision
    tags:
      - convnet

    argv:
      --model: resnet50

  squeezenet1_1:
    <<<: *torchvision
    tags:
      - convnet

    argv:
      --model: squeezenet1_1

  efficientnet_b0:
    <<<: *torchvision
    tags:
      - convnet

    argv:
      --model: efficientnet_b0

  efficientnet_b4:
    <<<: *torchvision
    tags:
      - convnet
    
    argv:
      --model: efficientnet_b4

  efficientnet_b7:
    <<<: *torchvision
    tags:
      - convnet
    
    argv:
      --model: efficientnet_b7
      --batch-size: 32

  convnext_large:
    <<<: *torchvision
    tags:
      - convnet

    argv:
      --model: convnext_large

  regnet_y_128gf:
    <<<: *torchvision
    tags:
      - convnet

    argv:
      --model: regnet_y_128gf
      --batch-size: 16
      --with-amp: null

  bert:
    <<<: *torchbench
    tags:
      - transformer

    model: BERT_pytorch

  hf_reformer:
    <<<: *torchbench
    tags:
      - huggingface
      - transformer

    model: hf_Reformer

  hf_t5:
    <<<: *torchbench
    tags:
      - huggingface
      - transformer
    
    model: hf_T5

  dlrm:
    <<<: *torchbench

    tags:
      - recommendation
    
    model: dlrm

  soft_actor_critic:
    <<<: *torchbench
    tags:
      - rl

    model: soft_actor_critic

  speech_transformer:
    <<<: *torchbench
    tags:
      - transformer
    
    model: speech_transformer

  super_slomo:
    <<<: *torchbench

    model: Super_SloMo

  stargan:
    <<<: *torchbench

    model: pytorch_stargan

  # cyclegan:
  #   <<<: *torchbench

  #   plan:
  #     method: njobs
  #     n: 1

  #   model: pytorch_CycleGAN_and_pix2pix

  learning_to_paint:
    <<<: *torchbench

    model: LearningToPaint

  ppo:
    <<<: *sb3
    tags:
      - rl

    plan:
      method: njobs
      n: 1

    argv:
      --algo: ppo
      --env: HalfCheetahBulletEnv-v0
      -n: '-1'
      --num-threads: '-1'
      --seed: '0'
      --vec-env: subproc
      --device: auto
      --: [-params, n_envs:16, n_steps:512, n_epochs:20, n_timesteps:50000]

  td3:
    <<<: *sb3
    tags:
      - rl

    argv:
      --algo: td3
      --env: HalfCheetahBulletEnv-v0 # Default: CartPole-v1
      --n-eval-envs: '1'
      --n-timesteps: '50000' # Default: '-1'
      --num-threads: '-1'
      --log-interval: '-1'
      --eval-episodes: '5'
      --save-freq: '-1'
      --seed: '0' # Default: -1
      --vec-env: subproc # Default: dummy
      --device: auto
      --n-trials: '10' # Default: 500
      --n-jobs: '1'

  resnet152:
    <<<: *lightning
    tags:
      - convnet

    argv:
      --backbone: "resnet152"
      --strategy: "ddp"
      --precision: 16
      --batch_size: 32

  vit_l_32:
    <<<: *lightning
    tags:
      - convnet

    argv:
      --backbone: "vit_l_32"  # (larger model)
      --strategy: "fsdp"  # Fully-Sharded Data-Parallel
      --precision: 16
      --batch_size: 32
