# Run Milabench using nightly docker images
name: docker-run

on:
  # Only works on manual runs
  workflow_dispatch:
  
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}


jobs:
  docker-run:
    runs-on: [self-hosted, cuda]

    strategy:
      matrix:
        include:
          - arch: cuda
            config: standard-cuda.yaml
    
    permissions:
      contents: read

    steps:
      - name: login
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: pull
        run: |
          docker pull ghcr.io/mila-iqia/milabench:${{ matrix.arch }}-nightly
  
      - name: run
        run: |
          OUTPUT="$(pwd)/results"
          mkdir -p $OUTPUT
          docker run -it --rm --runtime=nvidia -e NVIDIA_VISIBLE_DEVICES=all -v $OUTPUT:/milabench/results milabench milabench --help
      
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: summary
        run: |
          python -m pip install -U pip
          python -m pip install -U poetry
          poetry lock --no-update
          poetry install
          milabench summary $OUTPUT/runs
