# Run Milabench using nightly docker images
name: docker-run

on:
  # Only works on manual runs
  workflow_dispatch:
  
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_PATH: ghcr.io/mila-iqia/milabench:cuda-nightly

jobs:
  docker-run:
    runs-on: [self-hosted, cuda]

    strategy:
      matrix:
        include:
          - arch: cuda
    
    permissions:
      contents: read
      
    env:
      IMAGE_NAME: "ghcr.io/mila-iqia/milabench:${{ matrix.arch }}-nightly"

    steps:
      - name: pull
        run: |
          docker pull $IMAGE_NAME
  
      - name: run
        run: |
          OUTPUT="$(pwd)/../results"
          mkdir -p $OUTPUT
          docker run --rm --shm-size=256M                   \
            --runtime=nvidia -e NVIDIA_VISIBLE_DEVICES=all  \
            -v $OUTPUT:/milabench/envs/runs                 \
            $IMAGE_NAME milabench run
      
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: summary
        run: |
          python -m pip install -U pip
          python -m pip install -U poetry
          poetry lock --no-update
          poetry install
          milabench summary $OUTPUT
